:root {
    --navbar-bg-color: white;
    --navbar-text-color: #8e12fc;
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: #8e12fc;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #c5b8d136!important;
  }
  /* start navebar */
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
  }
  #navbar {
    --navbar-height: 64px;
    height: 80px;
    background-color: var(--navbar-bg-color);
    box-shadow: 0 2px 4px #8e12fc;
    z-index: 9999;
    left: 0;
    right: 0;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  .home-link{
    font-weight: bold;
    margin-left: 5px;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    width: 50px;
    height: 50px;
  }
  .img-logo{
    border-radius: 14px;
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }


  /* end navebar */
  
  /* start introduction */
  .row1 h1{
    text-align: center;
    color: var(--navbar-text-color);
    background-color: var(--navbar-text-color-focus);
    margin-top: 20px!important ;
  }
  .intro h2{
    color: var(--navbar-text-color-focus);
    font-weight: bold;
    opacity: none!important;
    margin-left: 20px!important;
  }
  .intro2 h2{
    color: var(--navbar-text-color-focus);
    font-weight: bold;
    opacity: none!important;
    margin-left: 20px!important;
  }
  .row1{
    margin-top: 50px!important;
    margin-bottom: 50px!important;
    text-align: center;
  }
  .intro{
    background-color: #c688fd;
    border-radius: 20px ; 
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  .intro:hover{
    background-color: #c5b8d1;
    border:2px solid #c688fd;
  }
  .intro2{
    background-color: #c5b8d1;
    border-radius: 20px; 
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  .intro2:hover{
    border:2px solid #c5b8d1;
    background-color: #c688fd;
    
  }
  .dis{
    padding: 15px!important;
    color: #4a3161;
    text-align: center;
  }
.title{
    font-size: 2.5rem;
    font-weight: bold;
}
.dis2{
    width: 60%;
    font-size: 18px;
    color: #b3aeb8;
    font-weight: 500;
    margin-top: 30px;
}
.ul{
    margin-top: 35px;
    list-style:none;
}
.ul li{
    margin-top: 10px;
}
.ul li:hover{
    color: #c688fd;
}
.navbar-menu{
    width: 30%;
}
@media(max-width:900px){
    .navbar-menu{
        width: 100%;
    }
}
  /* end introduction */
  /* start about us */
  .conAboutus{
    border-top: 1px solid #8e12fc;    
    border-bottom: 1px solid #8e12fc;
  }
  .conAboutus h3{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .conAboutus h1{
    margin-top: 50px;
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dis3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #b3aeb8;
  }
  .numabout{
    display: inline-block;
    margin-left: 10px;
  }
  .numabout span{
    font-weight: bold;
    font-size: 2rem;
  }
  .numabout p{
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
  .icon{
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .animation{
    text-align: center;
  position: relative;
  animation-name: example;
  align-items: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  }
  @keyframes example {
    0%   { left:0px; top:0px;}
    100% { left:0px; top:30px;}
  }
  
  /* end about us */
  /* start contact */
  .contact{
    border-top: 1px solid #8e12fc;    
    border-bottom: 1px solid #8e12fc;
    text-align: center;
    align-items: center;
    margin-bottom: 90px;
  }
  .contact h1{
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    font-weight: bolder;

  }
  .contact p{
    color: #b3aeb8;
    margin-top: 30px;
    width: 80%;
  }
  .form-control {
    border-radius: 20px!important
}
.submit{
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    border:none
}
  /* end contact */
  /* start propject secyion */
  .conproject{
    text-align: center;
  }
  .conproject h1{
    background: linear-gradient( #c5b8d1 ,#8e12fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  /* end project section */
  /* start carosel */
  .section {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  section#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ section#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ section#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ section#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ section#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ section#carousel {
    --position: 5;
  }
  .btncard{
    background-color: #8e12fc!important;
    color: #e7e0ee!important;
    transition: 0.2 background;
  }
  .btncard:hover{
    background-color: #b3aeb8;
    color:#8e12fc;
  }
  /* end carosel */
  .snow{
    text-align: center;
  position: relative;
  animation-name: snow1;
  align-items: center;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  }
  
  @keyframes snow1 {
    0%   { left:30px; top:0px;}
    25%  { left:70px; top:80px;}
    50%  {left:10px; right:70px; top:100px;}
    75%  { left:70px; top:125px;}
    100% {left:0px; right:0px; top:0px;}
  }
  .snow1{
    text-align: center;
  position: relative;
  animation-name: snow2;
  align-items: center;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  }
  
  @keyframes snow2 {
    0%   { left:0px; top:10px;}
    25%  { left:60px; top:80px;}
    50%  {left:0px; right:60px; top:100px;}
    75%  { left:60px; top:125px;}
    100% {left:0px; right:0px; top:0px;}
  }

  .snow2{
    text-align: center;
  position: relative;
  animation-name: snow3;
  align-items: center;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
  }
  @keyframes snow3 {
    0%   { left:30px; top:0px;}
    25%  { left:70px; top:80px;}
    50%  {left:10px; right:70px; top:100px;}
    75%  { left:70px; top:125px;}
    100% {left:0px; right:0px; top:0px;}
  }

  